body {
    background-color: rgba(25, 25, 25, 1);
}

ul {
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0);
}

li {
    float: right;
}

.left {
    float: left;
}

li a {
    display: block;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
}

li a:hover {
    background-color: rgba(255, 255, 255, 0.75);
    color: black;
}

.active {
    background-color: rgba(0, 0, 0, 0.5);
}

@media (max-width: 992px) {
    #message {
        height: 60vh;
    }
}

@media (min-width: 993px) {
    #message {
        height: 30vh;
    }
}
