@import url('font-awesome.min.css');

@font-face {
    font-family: junction;
    font-weight: normal;
    src: url('../fonts/Junction-regular.otf') format('opentype');
}

@font-face {
    font-family: junction;
    font-weight: bold;
    src: url('../fonts/Junction-bold.otf') format('opentype');
}

@font-face {
    font-family: aller;
    font-weight: normal;
    src: url('../fonts/Aller_Rg.ttf') format('truetype');
}

@font-face {
    font-family: aller;
    font-weight: bold;
    src: url('../fonts/Aller_Bd.ttf') format('truetype');
}

@font-face {
    font-family: aller-display;
    src: url('../fonts/AllerDisplay.ttf') format('truetype');
}

@font-face {
    font-family: raleway;
    font-weight: bold;
    src: url('../fonts/Raleway-Bold.ttf') format('truetype');
}

@font-face {
    font-family: raleway;
    font-weight: normal;
    src: url('../fonts/Raleway-Regular.ttf') format('truetype');
}


h1, h2, h3, h4, h5, h6 {
    font-family: aller-display;
}

h1 {
    font-size: 64px;
    color: rgba(255, 255, 255, 1);
}

h2 {
    font-size: 48px;
    color: rgba(255, 255, 255, 1);
}

h4 {
    font-size: 24px;
    color: rgba(255, 255, 255, 1);
}

li {
    font-family: aller;
    font-size: 18px;
}

li > a {
    outline: none;
}

.hollow {
    font-family: aller;
    font-size: 24px;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid rgba(255, 255, 255, 1);
    color: rgba(255, 255, 255, 1);
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    padding: 5px;
}

.hollow:hover {
    background-color: rgba(255, 255, 255, 0.75);
    color: rgba(0, 0, 0, 1);
}

p {
    font-family: junction;
    font-weight: normal;
    font-size: 16px;
    color: rgba(255, 255, 255, 1);
}

.content {
    text-align: center;
}

.text {
    font-family: junction;
    font-size: 16px;
    margin-bottom: 3vh;
    padding: 9px;
    background-color: rgba(25, 25, 25, 0);
    border-radius: 4px;
    border: 2px solid rgba(255, 255, 255, 0.90);
    color: rgba(255, 255, 255, 0.90);
    resize: vertical;
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    outline: none;
    box-sizing: border-box;
}

.text:focus {
    background-color: rgba(255, 255, 255, 0.90);
    color: black;
    border: 2px solid rgba(255, 255, 255, 0.90);
}

@media (max-width: 992px) {
    .text {
        width: 80vw;
    }
}

@media (min-width: 993px) {
    .text {
        width: 46vw;
    }
}
