body {
  margin: 0;
  padding-top: 0;
  overflow: hidden;
}

svg {
  position: relative;
  width: 100vw;
  height: 100vh;
  /* background-color: #283B42; */
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/127738/mountainBG2.jpg) center top / cover;
}

.snow {
  fill: white;
}
