body {
    background-color: rgba(25, 25, 25, 1);
}

ul {
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0);
}

li {
    float: right;
}

.left {
    float: left;
}

li a {
    display: block;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
}

li a:hover {
    background-color: rgba(255, 255, 255, 0.75);
    color: black;
}

.active {
    background-color: rgba(0, 0, 0, 0.5);
}

#icon {
    margin-top: 10vh;
    font-size: 2.5em;
}

p > a {
    color: rgba(255, 255, 255, 1);
    padding: 2px;
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    outline: none;
    font-weight: bold;
    text-decoration: none;
    font-size: 17px;
}

p > a:hover {
    background-color: rgba(255, 255, 255, 0.75);
    color: black;
}

@media (min-width: 993px) {
    p > a:hover {
        padding: 5px;
    }
}
